<div class="relative min-h-screen flex flex-col">
    <!-- Fundo escuro com imagem -->
    <div class="absolute inset-0 w-full h-full">
        <div class="absolute inset-0 bg-black opacity-75 z-10"></div>
        <img src="https://image.tmdb.org/t/p/original/rr7E0NoGKxvbkb89eR1GwfoYjpA.jpg" alt="Background" class="absolute object-cover w-full h-full">
    </div>

    <!-- Formulário de cadastro -->
    <div class="container mx-auto px-4 sm:px-6 relative z-20 flex-grow flex items-center justify-center py-16 sm:py-20">
        <div class="bg-gray-900 opacity-90 p-5 sm:p-8 rounded-xl shadow-2xl w-full max-w-xs sm:max-w-sm md:max-w-md">
            <div class="text-center mb-6">
                <h1 class="text-2xl sm:text-3xl font-bold text-white">Crie sua conta</h1>
                <p class="text-sm sm:text-base text-gray-400 mt-2">Comece sua jornada no Boxd agora mesmo!</p>
            </div>

            <form class="space-y-4 sm:space-y-6">
                <div>
                    <label for="name" class="block text-sm sm:text-base text-gray-300 mb-1 sm:mb-2">Nome completo</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fas fa-user text-gray-500 text-sm"></i>
                        </div>
                        <input type="text" id="name" class="text-sm bg-gray-800 text-white placeholder-gray-500 pl-10 pr-4 py-2 sm:py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 w-full" placeholder="Seu nome" required>
                    </div>
                </div>

                <div>
                    <label for="email" class="block text-sm sm:text-base text-gray-300 mb-1 sm:mb-2">Email</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fas fa-envelope text-gray-500 text-sm"></i>
                        </div>
                        <input type="email" id="email" class="text-sm bg-gray-800 text-white placeholder-gray-500 pl-10 pr-4 py-2 sm:py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 w-full" placeholder="seu@email.com" required>
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm sm:text-base text-gray-300 mb-1 sm:mb-2">Senha</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                          <i class="fas fa-lock text-gray-500 text-sm"></i>
                        </div>
                        <input type="password" id="password" class="bg-gray-800 text-white placeholder-gray-500 pl-10 pr-10 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 w-full" placeholder="••••••••" required>
                        <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                            <button type="button" class="text-gray-500 hover:text-gray-300 focus:outline-none" id="toggle-password">
                                <i class="fas fa-eye text-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="confirm-password" class="block text-sm sm:text-base text-gray-300 mb-1 sm:mb-2">Confirme a senha</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fas fa-lock text-gray-500 text-sm"></i>
                        </div>
                        <input type="password" id="confirm-password" class="text-sm bg-gray-800 text-white placeholder-gray-500 pl-10 pr-10 py-2 sm:py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 w-full" placeholder="••••••••" required>
                    </div>
                </div>

                <button type="submit" class="w-full cursor-pointer font-bold bg-red-600 text-white py-2 sm:py-3 rounded-lg hover:bg-red-700 transition duration-300 flex items-center justify-center text-sm sm:text-base">
                    <span>Criar conta</span>
                </button>
            </form>

            <div class="mt-6 sm:mt-8">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-700"></div>
                    </div>
                    <div class="relative flex justify-center text-gray-500">
                        <span class="bg-gray-900 px-3 sm:px-4 text-xs sm:text-sm">ou continue com</span>
                    </div>
                </div>

                <div class="grid grid-cols-3 gap-3 mt-5">
                    <button type="button" class="py-3 px-4 cursor-pointer bg-[#DB4437] hover:bg-[#c23321] rounded-lg flex items-center justify-center transition duration-300">
                      <i class="fab fa-google text-white text-base"></i>
                    </button>
                    <button type="button" class="py-3 px-4 cursor-pointer bg-[#4267B2] hover:bg-[#365899] rounded-lg flex items-center justify-center transition duration-300">
                      <i class="fab fa-facebook-f text-white text-base"></i>
                    </button>
                    <button type="button" class="py-3 px-4 cursor-pointer bg-[#1DA1F2] hover:bg-[#0d8ddb] rounded-lg flex items-center justify-center transition duration-300">
                      <i class="fab fa-twitter text-white text-base"></i>
                    </button>
                </div>
            </div>

            <p class="text-center mt-6 sm:mt-8 text-xs sm:text-sm text-gray-400">
                Já tem uma conta? 
                <a href="<%= urls['loginUrl'] %>" class="text-red-500 hover:text-red-400">Entrar</a>
            </p>
        </div>
    </div>
</div>
